*{
    margin: 0px;
    padding:0px;
    /* border:border-box; */
    /* background-color: #5E5C5C; */
}
header{
font-family: 'Montserrat', sans-serif;
background-color: black;
height:125px;
color:white;
padding-left:61px;
padding-right:61px;
padding-top:20px;
padding-bottom: 20px;
margin-top:0px;
/* position: fixed; */
/* width:100%; */
/* box-shadow: 0 10px 25px; */
box-shadow: 5px 5px 10px #555;
}

         /* NAVBAR */

.nav{
display:flex;
}

/* box 1 */

.user-icon{
display:flex;
/* justify-content: center; */
/* align-items: center  ; */
margin-top: 27px;
margin-left:15px
}

/* box 2 */

.country img{
height:21px;
width: 29px;
}
.country{
margin-top: 25px;
margin-left:25px;
width:500px;
}

/* box 3 */

.logo img{
height:100px;

}

/* box 4 */

.search{
background-color: white;
margin-top:12px;
margin-left: 210px;
height:13px;
/* cursor: pointer; */
border-radius:30px;
display:flex;
align-items:center;
padding: 10px 9px;
width:200px;
/* color:orange; */
/* box-shadow: 0 10px 25px; */
}
.search input{
outline:none;
border:none;
font-weight: 700;
/* transition:0.8s;     */
background:transparent;
margin-top:1px;
padding-left:2px
}

.search button{
border:none;
cursor: pointer;
background:transparent;
}
.search i{
color: black;
padding-right: 10px;
padding-left:7px;
background-color: white;
background:transparent;
}

/* box 5 */

.likes{
margin-top: 21px;
margin-left:20px;
}

.likes i{
color: white;
}

/* box 6 */
.cart{
margin-top: 21px;
margin-left:20px;
}
.cart i{
color:white;
}


     /* OPTIONS */

/* a{
text-decoration: none;
color: white;
}

.categories{
display:flex;

}

.categories div{
margin-left:110px;
margin-top:0px;
cursor: pointer;

}*/
.navbar li::after{
content: '' ;
display: block;
height:2px;
margin-top: 5px;
width:100%;
background-color:orange;
transform:scaleX(0);

transition: 0.2s ;
}
.navbar li:hover:after{
transform:scaleX(0.9);
} 

/* .dropdown {
display: inline-block;
position: relative;
}
.dropdown-content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}
.options{
padding-left:100px
} */

.navbar {
background-color: #333;
position: relative;
z-index: 999;
}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
background: black;
display: flex;
align-items: center;
justify-content: space-evenly;
}


.navbar li a {
color: white;
display: block;
padding: 5px 0px;
text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
position: absolute;
top: 100%;
display: none;
}

.navbar ul ul li {
display: block;
}

.navbar li:hover ul {
display: block;
}

.navbar ul ul li a:hover {
background-color: #555;
/* color:black */

}

.outerlisti{
/* margin-right:100px */
}

.options{
/* padding: 10px 20px 0px 20px; */
}



         /* OPTIONS */

a{
    text-decoration: none;
    color: white;
}

.categories{
    display:flex;
    /* justify-content:space-evenly; */
}

.categories div{
    margin-left:80px;
    margin-top:0px;
    /* cursor: pointer; */
    /* margin-right: 30px; */
}
.categories div::after{
    content: '' ;
    display: block;
    height:2px;
    margin-top: 5px;
    width:100%;
    background-color:orange;
    transform:scaleX(0);
    /* transform-origin: left; */
    /* transition: 0.2s ; */
}
.categories div:hover:after{
    transform:scaleX(0.9);
}

body{
    font-family: 'Montserrat', sans-serif;  
}




         /*  MAIN CONTENT  */
         
.content{
    width:100%;
    /* display: block; */
}

#firstimg{
    width: 68%;
    float:left;
    margin:1% 1%;
    padding:0px;
}

#firstimg img{
    width:100%;
    height:500px;
    padding:0px;
    margin:0px;
}

.secondimg{
    width:28%;        
    float:left;
    margin:1% 1%;
    padding:0px;
}

.secondimg img{
    width:100%;
    height:235px;
    padding:0px;
    margin:0px;
}

.recommend{
    /* display: block; */
    font-family: 'Montserrat', sans-serif;
    /* width:10px; */
    margin-left: 35px;
    margin-top: 600px;
}



.recommend-shoes{
    display:flex;
    margin-top:40px;
    /* margin-left:0px; */
    /* width:200px */
}

.rec{
    width:300px;
    height: 410px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    transition: 0.5s;
    /* background-color: blue; */
}

.rec:hover{
    transform: scale(1.01   );
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.brand{
    margin-left:4px;
}

.rec img{
    width: 300px;
    height:300px;

}

.brand-shoes{
    margin-top: 10px;
    margin-left: 4px;
    font-weight: bold;

}

.price{
    margin-top:12px;
    font-weight: bolder;
    margin-left: 5px;
}

.trending{
    font-family: 'Montserrat', sans-serif;
    margin-left: 35px;
    margin-top: 70px;
    height:0px;
}

.trending-shoes{
    display:flex;
    margin-top:80px;
    margin-right:px
}


.recommend h1::after{
    content: '' ;
    display: block;
    height:2px;
    margin-top: 5px;
    width:40%;
    background-color:black;
    transform:scaleX(0.5);
    
}

.trending h1::after{
    content: '' ;
    display: block;
    height:2px;
    margin-top: 5px;
    width: 30%;
    background-color:black;
    transform:scaleX(0.4);
}


            /* FOOTER */

footer{
    background-color: black;
    height:500px;
    width:1263px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* font-family: sans-serif; */
}

/* UPPER FOOTER */

.upper-footer{
    display:flex;
    margin-top:90px;
}

.subscribe{
    margin-top:60px;
    margin-left:100px;
}
.subscribe input{
    height:15px;
    width:230px;
    padding:10px;
    border-radius: 20px;
    border:none;
    margin-top:30px
}


.subscribe button{
    background-color: black; 
    color:white;  
    /* border:none; */
    cursor: pointer;
    margin-left:10px
}


.social{
    /* font-weight:bolder; */
    margin-top: 60px;
    margin-left:100px;
    margin-bottom: 10px;
    /* display:flex;     */
}

.apps img{
   width:45px;
   margin-top:20px;
   margin-left:5px
}

#facebook{
    width: 43px;
}

.info{
    margin-left:190px;
    margin-top:60px
}

/* LOWER FOOTER */

.lower-footer{
    display:flex;
}

.copyright{
    margin-left:70px;
    margin-top:50px;
    font-size: smaller;
}

.security{
    margin-left:500px ;
    margin-top: 80px;
}

.security img{
    width:40px;
    margin-right: 10px;
}


@media screen and (min-width:1280px) {
    footer{
        width: 100vw;
    }

    .recommend-shoes{
        justify-content: space-evenly;
    }

    .trending-shoes{
        justify-content: space-evenly;
    }
    .upper-footer{
        justify-content: space-evenly;;
    }
    .subscribe{
        margin-left: 0px;
    }
}